.ceModal {
    padding: 20px 50px;
    background: #090738;
}
.ceModal input{
    background: #1B186E;
}
.ceModalLogin {
    border-radius: 50px;
    background-image: linear-gradient(to right, #7448AA 0%,#E45C9E 100%,#7448AA);
}
.ceRight {
    text-align: right;
}

.ceBtnLogin {
    margin: 0px;
    background: #4141AF;
}
.ceBtnLogin:hover {
    background: #282888;
}

.ceInput {

}

.ceHeader {
    margin-bottom: 50px;
}
.ceTitle {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 25px;
}

.ceDescription {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 17px;
    margin-bottom: 50px;
    text-align: justify;
}

.ceTitle2 {
    font-size: 25px;
}

.ceDescription2 {
    font-size: 16px;
    margin-bottom: 13px;
    text-align: justify;
}

.ceBtnPrice {
    background-image: linear-gradient(to right, #7448AA 0%,#E45C9E 100%,#7448AA);
    width: 280px;
}

.ceInfo {
    background-image: linear-gradient(to bottom, #E45C9E 0%, #7448AA 100%,#E45C9E);
}

.ceLeft {
    text-align: left;
}
.ceCenter {
    text-align: center;
}
.ceRight {
    text-align: right;
}
.ceCol6 {
    width: 50%;
}
.ceOffset6 {
    left: 50%;
    position: relative;
}

.ceFaqLeft {
}
.ceFaqRight {
}

.ceFaqLeft2 {
    padding: 50px;
}
.ceFaqRight2 {
    padding: 50px;
}

.card-body::before {
    content: "A.";
    font-weight: 600;
    margin-right: 5px;
}

.roadmap {
    width: 1170px;
    height: 780px;
}

/* .obj {
    display: none;
  } */
  :root {
    --delay: 0ms;
    --path: path('M300 127 L1000 127 C1030 127 1100 190 1030 255 L350 255 C340 255 270 305 325 375 L1020 390 C1030 390 1100 450 1030 515 L365 510 C330 510 280 570 330 635 L1050 650');
    /* 'M200 127 L900 127 C930 127 1000 190 930 255 L250 255 C240 255 170 305 225 375 L920 390 C930 390 1000 450 930 515 L265 510 C230 510 180 570 230 635 L950 650' */
    /* 'M67.403 43.204 L 67.403 49.540 189.102 49.590 L 310.802 49.640 312.338 50.070 C 328.024 54.462,328.359 75.691,312.818 80.496 L 311.378 80.941 198.656 81.041 L 85.934 81.141 84.013 81.582 C 62.241 86.579,53.900 111.925,68.526 128.645 C 72.330 132.993,77.878 136.138,84.216 137.539 L 86.126 137.961 198.848 138.063 L 311.570 138.166 313.394 138.798 C 326.973 143.503,328.226 161.557,315.410 167.835 C 311.916 169.547,325.329 169.368,200.000 169.372 C 82.830 169.375,86.541 169.345,82.691 170.318 C 53.627 177.658,54.513 219.077,83.879 225.871 L 85.742 226.302 208.401 226.354 L 331.061 226.407 331.061 220.070' */
  }
  
  .obj {
    position: absolute;
    offset-path: var(--path);
    animation: move 20s linear infinite;
    top: 0;
    left: 0;
    width: 4rem;
    height: 4rem;
    /* transform: scale(0); */
  }
  
  
  /* @keyframes appear {
    100% {
      opacity: 1;
    }
  } */
  
  @keyframes move {
    5% {
      offset-distance: 0%;
    }
  
    30% {
      offset-distance: 30%;
    }
  
    100% {
      offset-distance: 100%;
    }
  }

  .collapse {
    visibility: visible;
    transition: visibility 0s, opacity 1s linear;
  }

.collapse:not(.show) {
    visibility: hidden;
    height: 0px;
    opacity: 0;
}

.collapse.show {
    visibility: visible;
    transition:all 1000ms;
    height: auto;
    opacity: 1;
}

.tab-pane {
    display: none;
}
.tab-pane.active {
    display: block;
}

.fade:not(.show) {
    opacity: 0;
}
.fade {
    transition: opacity .15s linear;
}

.text-center {
    text-align: center!important;
}

.list_chart {
    margin-top: 20px;
}

.list_chart li {
    display: inline-block;
    padding: 0 5px;
    font-size: 14px;
    font-weight: 500;
}
.list_none li {
    list-style: none;
}

.list_chart li span {
    color: #fff;
}

.chart_bx {
    background-color: #ffffff;
    display: inline-block;
    margin-right: 5px;
    height: 7px;
    vertical-align: middle;
    width: 7px;
}

.color1 {
	background-color: #f69040;
}
.color2 {
	background-color: #78c596;
}
.color3 {
	background-color: #f17776;
}
.color4 {
	background-color: #0eadc9;
}
.color5 {
	background-color: #4241b8;
}
.color6 {
	background-color: #4449cc;
}
.color7 {
	background-color: #00e1f4;
}
.color8 {
	background-color: #d26187;
}
.color9 {
	background-color: #d4b630;
}
.color10 {
	background-color: #0052ce;
}
.color11 {
	background-color: #5b5da8;
}
.color12 {
	background-color: #9a46cc;
}
.color13 {
	background-color: #d3b62f;
}

.cecard {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    margin-bottom: 20px;
}

.cecard .card-header ins {
    background-color: #4141af;
    top: 100%;
    height: 10px;
    position: absolute;
    left: 10px;
    right: 10px;
}

.listtxt {
    font-size: 17px;
}
.listtxt>div {
  display: flex;
}
.listtxt span {
  width: 25%;
}

section {
    padding-left: 3rem;
    padding-right: 3rem;
    overflow-y: hidden;
}

.ceq {
    color: #00bbf9;
    padding: 0px;
}

.cePriceCard {
    font-size: 18px;
}