.small_space {
    margin-top: 20px;
}
.tab-link {
    background: #4a49bf47 !important;;
}

.tab_s2 .tab-link {
    border-radius: 0;
    margin-bottom: 2px;
    padding: 10px 20px;
}
.tab-link {
    background-color: #4141AF;
    border-radius: 5px;
    color: #fff;
}
.tab-link {
    display: block;
    padding: 8px 16px;
    text-transform: capitalize;
}
.tab-link.active, .tab-link.active:hover {
    background-image: linear-gradient(to right, #7448AA 0%,#E45C9E 100%,#7448AA) !important;
}
.tab-link:hover {
    background: #090737ab !important;
}


.faq_content5 .card-header a {
    background: #4a49bf47 !important;
    border-color: #fff;
    color: #fff;
    display: block;
    padding: 15px 40px 15px 15px;
    position: relative;
}
/* .faq_content5 .card-header a::before {
    content: "Q.";
    font-weight: 600;
    margin-right: 5px;
}
.faq_content5 .card-header a::after {
    color: #ffffff;
    content: "\f10d";
    font-family: "Ionicons";
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    right: 15px;
    top: 14px;
} */
.faq_content5 .collapse.show .card-body {
    margin-bottom: -10px;
    text-align: justify;
}
.faq_content5 .card-body {
    background: #383888b8 !important;
    color: #fff;
    padding: 10px 20px;
    margin: 0 10px;
}
.faq_content5 .card-header a span::before {
    content: "";
    position: absolute;
    right: 0;
    top: 100%;
    border-style: solid;
    border-width: 10px 10px 0 0;
    border-color: #4141af transparent transparent transparent;
}
.faq_content5 .card-header a span::after {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    border-style: solid;
    border-width: 0 10px 10px 0;
    border-color: transparent #4141af transparent transparent;
}

.faq_content5 .cecard {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    margin-bottom: 20px;
}

.ceFaqCustom {
    padding-left: 0px;
}

.ceFaqLeft2 {
    padding: 25px;
}
.ceFaqRight2 {
    padding: 25px;
}