.flip-card {
    perspective: 1000px; 
    padding: 0px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  .flip-card-front {

  }
  
  .flip-card-back {
    transform: rotateY(180deg);
  }

  .flip-card-back>div {
    border-radius: 10px;
  }

  .cecardfilp {
    position: relative;
    width: 230px;
    /* left: calc(50% - 125px); */
    height: 235px;
    margin-top: 20px;
   perspective: 800px; /* Adjust as needed */
  
    /* Add transition styles */
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }